[submodule "NvChad"]
	path = NvChad
	url = https://github.com/NvChad/NvChad.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad.git
[submodule "nvchad-config"]
	path = nvchad-config
	url = https://github.com/vilhelmlindell/nvchad-config.git
